@import "mixin";

.header {
  width: 100%;
  position: fixed;
  z-index: 10;
  height: 75px;
  background-color: white;
  .title {
    width: 1170px;
    padding: 20px 0;
    margin: 0 auto;
    position: relative;
    .logo {
      display: inline-block;
      margin-top: -6px;
      img {
        width: 130px;
        vertical-align: bottom;
      }
    }
    .sub-txt {
      display: inline-block;
      position: absolute;
      bottom: 23px;
      p {
        font-size: 14px;
        margin-left: 5px;
        letter-spacing: 0.1rem;
      }
    }
    .header-contact {
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 17px;
      background-color: #dd7871;
      color: white;
      border-radius: 25px;
      padding: 10px 37px;
      &:hover {
        background-color: #d85047;
      }
    }
  }
}

// ---------------
// トップ画面
// ---------------
.top-container {
  padding-top: 75px;
  text-align: center;
  .bg-img {
    height: 500px;
    background-image: url("images/Isara-bg.jpg");
    background-size: cover;
    background-position:center ;
    .img-txt {
      padding-top: 93px;
      .txt1 {
        font-weight: bold;
        font-size: 27px;
        letter-spacing: 0.16rem;
        margin-bottom: 13px;
      }
    }
    .large-title {
      img {
        width: 318px;
      }
    }
    h3 {
      .txt2 {
        font-size: 20px;
        letter-spacing: 0.1rem;
        margin-top: 28px;
      }
    }
  }
}

// ------------
// コンタクト
// ------------
.contact {
  text-align: center;
  height: 700px;
  background-color: #ebb94d;
  padding: 20px 0;
  .contact-txt {
    color: white;
    font-size: 22px;
    letter-spacing: 0.1rem;
    margin-top: 10px;
  }
  .important {
    background: white;
    width: 460px;
    margin: 0 auto;
    color: red;
    font-weight: bold;
    margin-top: 12px;
    letter-spacing: 0.1rem;
    border-radius: 4px;
  }
  .contact-btn {
    width: 1030px;
    margin: 0 auto;
    cursor: pointer;
    background-color: #dd7871;
    color: white;
    border-radius: 50px;
    padding: 32px 90px;
    margin-top: 46px;
    p {
      font-size: 30px;
    }
    &:hover {
      background-color: #d85047;
    }
  }
  .season {
    font-size: 22px;
    margin-top: 70px;
    color: white;
    p {
      &:nth-child(2) {
        margin-top: 30px;
      }
      &:nth-child(3){
        margin-top: 30px;
      }
    }
  }
  .sns {
    display: inline-flex;
    list-style: none;
    margin-top: 26px;
    li {
      margin-left: 10px;
    }
    .twit,
    .good {
      font-size: 12px;
      color: white;
      i {
        background-color: #00aeef;
        padding: 4px;
        border-radius: 4px;
        cursor: pointer;
        &:first-child {
          &:hover {
            background-color: #058cbd;
          }
        }
      }
      p {
        display: inline-block;
      }
    }
    .share {
      font-size: 12px;
      background-color: #00aeef;
      padding: 0 6px;
      border-radius: 4px;
      color: white;
      cursor: pointer;
    }
  }
}

// ------------
// 前書き部分
// ------------
$bar-style: solid; 
$bar-size: 3px;
$bar-color: #ebb94d;

.introduction {
  height: 550px;
  text-align: center;
  background-image: url(images/introbottom.jpg);
  background-position: center;
  background-size: cover;
  .box-frame {
    @include box-frames; //mixin使用
      margin-top: 40px;
    .box-txt {
        font-size: 28px;
        font-weight: bold;
        letter-spacing: 0.1rem;
    }
  }
  .intro-txt {
    font-size: 20px;
    letter-spacing: 0.1rem;
    p {
      margin-top: 35px;
      span {
        font-weight: bold;
        background: linear-gradient(transparent 70%, #ebb94d 70%);
      }
    }
  }
}

// --------------
// ABOUTエリア
// --------------
.about {
  padding-bottom: 40px;
  text-align: center;
  background-color: #fef5e0;
  .title {
    position: relative;
    top: -40px;
    p {
      width: 80px;
      height: 80px;
      line-height: 80px;
      font-size: 14px;
      background-color: #ebb94d;
      border-radius: 50%;
      margin: 0 auto;
      color: white;

    }
  }
  .box-frame {
    @include box-frames; //mixin使用

    p {
      font-size: 28px;
      font-weight: bold;
      letter-spacing: 0.1rem;
    }
  }
  .subtxt {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin-top: 33px;
  }
  .skill-boxs {
    height: 254px;
    width: 1170px;
    background-color: #fff;
    border: 2px solid #ebb94d;
    margin:  30px auto;
    .skill-txt {
      font-size: 20px;
      font-weight: bold;
      margin-top: 30px;
      letter-spacing: 0.1rem;
    }
    .skill-box {
      padding: 21px 17px;
      font-size: 12px;
      display: inline-block;
      .img-txt {
        margin: 10px 0;
      }
    }
  }
}

// ------------------
// second-aboutエリア
// ------------------
.about-second {
  background-image: url(images/aboutsecondbg.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 60px 0 0 0;
  .title {
    color: white;
    font-size: 28px;
    letter-spacing: 0.1rem;
  }
  .sub-title {
      color: white;
      font-size: 20px;
      letter-spacing: 0.1rem;
      margin-top: 20px;
    span {
      color: #ebb94d;
    }
  }
  .step-boxs {
    display: flex;
    margin: 42px 110px;
    text-align: center;
    font-weight: bold;
    .step-box {
      margin: 0 10px;
      border-radius: 4px;
      background-color: white;
      width: 30%;
      .step {
        margin: 30px 15px;
        background-color: #ebb94d;
        border-radius: 4px;
        color: white;
      }
      .txt2 {
        margin: 20px 0;
      }
    }
  }
  .about-txt {
    font-size: 21px;
    padding: 45px 0;
    color: white;
    background-color: #016ea9;
    text-align: center;
    span {
      color: #ebb94d;
    }
  }
}

// ------------
// learnエリア
// ------------
.learn {
  text-align: center;
  padding: 50px;
  .title {
    font-size: 25px;
    font-weight: bold;
  }
  .sub-title {
    margin-top: 43px;
    font-size: 20px;
    letter-spacing: 0.1rem;
  }
  .learn-imgs {
    margin: 44px 0 35px;
    img {
      width: 180px;
      margin: 0 20px;
    }
  }
}

// -------------
// メリットエリア
// -------------
.merit {
  padding: 60px 0;
  background-color: #fef5e0;
  .title {
    @include box-frames; //mixin使用
    letter-spacing: 0.1rem;
    text-align: center;
    .txt1 {
      font-size: 20px;
    }
    .txt2 {
      font-size: 28px;
      font-weight: bold;
    }
  }
  .merit-boxs {
    width: 1190px;
    display: flex;
    padding: 30px 0;
    margin: 0 auto;
    .merit-box {
      margin: 0 auto;
      width: 30%;
      .img1,
      .img2,
      .img3 {
        height: 180px;
        background-size: cover;
        background-position: center;
      }
      .img1 {
        background-image: url(images/learnfromfreelancer.jpg);
      }
      .img2 {
        background-image: url(images/learnfromprojects.jpg);
      }
      .img3 {
        background-image: url(images/actuallyfree.jpg);
      }
    }
    .box-title {
      font-size: 20px;
      margin: 10px 0;
      color: #ebb94d;
      letter-spacing: 0.1rem;
    }
    p {
      line-height: 1.6rem;
    }
  }
  .benefits {
    text-align: center;
    width: 1170px;
    margin: 0 auto;
    border: 2px solid #ebb94d;
    border-radius: 4px;
    background-color: #fff;
    .title2 {
      color: #ebb94d;
      font-size: 30px;
      margin: 40px 0 10px;
    }
    .sub-title {
      font-size: 20px;
      letter-spacing: 0.1rem;
    }
    p {
      font-size: 16px;
      letter-spacing: 0.1rem;
      margin: 12px 0 52px;
    }
  }
  .note {
    text-align: center;
    margin-top: 42px;
    font-size: 14px;
    letter-spacing: 0.1rem;
  }
}

// -------------
// メンバーエリア
// -------------
.member {
  padding: 80px 0 30px;
  text-align: center;
  background-image: url(images/teacherbg.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  .title {
    font-size: 30px;
  }
  .sub-title {
    margin-top: 28px;
    letter-spacing: 0.1rem;
    font-size: 15px;
  }
  .up-boxs {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    .member-box {
      padding: 0 15px;
      width: 50%;
      img {
        width: 200px;
        position: relative;
        bottom: -35px;
        border-radius: 50%;
      }
      .datail {
        padding: 40px;
        border: 3px solid #fff;
        .name {
          margin: 15px;
        }
        .txt {
          line-height: 25px;
        }
      }
    }
  }
}

// Q&Aエリア

// Questionエリア
$bar-color: #fff;
.question {
  text-align: center;
  .QA {
    height: 270px;
    padding: 40px 0;
    background-color: #ebb94d;
    position: relative;
    &::after {
      content: ' ';
      position: absolute;
      top: 100%;
      left: 48%;
      width: 0;
      height: 0;
      border: none;
      border-top: 25px solid #ebb94d;
      border-right: 25px solid transparent;
      border-left: 25px solid transparent;
    }
    .qa-round {
      width: 80px;
      height: 80px;
      line-height: 80px;
      font-size: 14px;
      background-color: #fff;
      border-radius: 50%;
      margin: 0 auto;
      color: #ebb94d;
    }
    .question1 {
      @include box-frames;
      .title {
        font-size: 30px;
        font-weight: bold;
        line-height: 30px;
        color: #fff;
      }
    }
  }
}
  
// -------------
// アンサーエリア
// -------------
.answer {
  text-align: center;
  padding: 40px 0;
  .title {
    font-size: 30px;
  }
  .sub-title {
    margin-top: 10px;
    letter-spacing: 0.1rem;
  }
  .kome {
    margin: 30px 0;
  }
}
.voice-boxs {
  max-width: 780px;
  margin: 0 auto;
  .voice-box {
    display: flex;
    margin-bottom: 40px;
    color: #777;
    img {
      width: 245px;
      border: 2px solid #ebb94d;
    }
    .txt {
      font-size: 20px;
      line-height: 25px;
      margin: 15px 30px;
      text-align: left;
    }
    .info {
      font-size: 14px;
      margin-top: 12px;
      text-decoration: underline;
      font-style: italic;
    }
  }
}


// --------------
// 学習内容エリア
// --------------
.study-content {
  padding-top: 40px;
  text-align: center;
  background-image: url(images/classbg.jpg);
  background-position: center;
  background-size: cover;
  .title {
    color: #fff;
    font-size: 30px;
    letter-spacing: 0.1rem;
    .txt {
      font-size: 16px;
      margin-top: 10px;
    }
  }
  .content-boxs {
    display: flex;
    padding: 80px 0;
    max-width: 810px;
    margin: 0 auto;
    .content-box {
      background-color: #fff;
      margin: 0 15px;
      border: 2px solid #016ea9;
      border-radius: 4px;
      &:last-child {
        height: 353px;
      }
      ul {
        width: 373px;
        border-radius: 4px;
        li { 
          font-weight: bold;
          padding: 15px 25px 7px 15px;
          border-top: 1px solid #e5e5e5;
          list-style: none;
          &:first-child {
            color: #fff;
            font-size: 20px;
            padding: 16px 16px 18px 16px;
            background-color: #016ea9;
            border: none;
          }
        }
      }
    }
  }
  .content-txt {
    padding: 40px 0;
    color: #fff;
    background-color: #016ea9;
    font-size: 20px;
    font-weight: bold;
  }
}

// 学習の流れ
.flow {
  padding: 40px 0;
  text-align: center;
  .title {
    margin: 20px 0;
    font-size: 30px;
  }
  .flow-img {
    max-width: 100%;
    margin: 45px 0 25px;
  }
  .flow-boxs {
    padding: 10px 0;
    text-align: left;
    .flow-box {
      padding: 10px 35px;
      display: flex;
      width: 1170px;
      background: antiquewhite;
      margin: 0 auto;
      border-radius: 6px;
      .box-right {
        width: 200px;
        text-align: center;
        margin-top: 10px;
        padding: 20px;
        p {
          margin-top: 15px;
          font-size: 18px;
        }
      }
      .box-left {
        padding: 18px 0;
        .title {
          font-size: 16px;
          font-weight: bold;
        }
        .sub-title {
          font-weight: bold;
        }
        .txt {
          font-size: 15px;
          margin: 22px 0;
        }
      }
    }
    .line {
      text-align: center;
      margin-bottom: -6px;
    }
  }
}