.header {
  width: 100%;
  position: fixed;
  z-index: 10;
  height: 75px;
  background-color: white;
}

.header .title {
  width: 1170px;
  padding: 20px 0;
  margin: 0 auto;
  position: relative;
}

.header .title .logo {
  display: inline-block;
  margin-top: -6px;
}

.header .title .logo img {
  width: 130px;
  vertical-align: bottom;
}

.header .title .sub-txt {
  display: inline-block;
  position: absolute;
  bottom: 23px;
}

.header .title .sub-txt p {
  font-size: 14px;
  margin-left: 5px;
  letter-spacing: 0.1rem;
}

.header .title .header-contact {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 17px;
  background-color: #dd7871;
  color: white;
  border-radius: 25px;
  padding: 10px 37px;
}

.header .title .header-contact:hover {
  background-color: #d85047;
}

.top-container {
  padding-top: 75px;
  text-align: center;
}

.top-container .bg-img {
  height: 500px;
  background-image: url("images/Isara-bg.jpg");
  background-size: cover;
  background-position: center;
}

.top-container .bg-img .img-txt {
  padding-top: 93px;
}

.top-container .bg-img .img-txt .txt1 {
  font-weight: bold;
  font-size: 27px;
  letter-spacing: 0.16rem;
  margin-bottom: 13px;
}

.top-container .bg-img .large-title img {
  width: 318px;
}

.top-container .bg-img h3 .txt2 {
  font-size: 20px;
  letter-spacing: 0.1rem;
  margin-top: 28px;
}

.contact {
  text-align: center;
  height: 700px;
  background-color: #ebb94d;
  padding: 20px 0;
}

.contact .contact-txt {
  color: white;
  font-size: 22px;
  letter-spacing: 0.1rem;
  margin-top: 10px;
}

.contact .important {
  background: white;
  width: 460px;
  margin: 0 auto;
  color: red;
  font-weight: bold;
  margin-top: 12px;
  letter-spacing: 0.1rem;
  border-radius: 4px;
}

.contact .contact-btn {
  width: 1030px;
  margin: 0 auto;
  cursor: pointer;
  background-color: #dd7871;
  color: white;
  border-radius: 50px;
  padding: 32px 90px;
  margin-top: 46px;
}

.contact .contact-btn p {
  font-size: 30px;
}

.contact .contact-btn:hover {
  background-color: #d85047;
}

.contact .season {
  font-size: 22px;
  margin-top: 70px;
  color: white;
}

.contact .season p:nth-child(2) {
  margin-top: 30px;
}

.contact .season p:nth-child(3) {
  margin-top: 30px;
}

.contact .sns {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  margin-top: 26px;
}

.contact .sns li {
  margin-left: 10px;
}

.contact .sns .twit,
.contact .sns .good {
  font-size: 12px;
  color: white;
}

.contact .sns .twit i,
.contact .sns .good i {
  background-color: #00aeef;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.contact .sns .twit i:first-child:hover,
.contact .sns .good i:first-child:hover {
  background-color: #058cbd;
}

.contact .sns .twit p,
.contact .sns .good p {
  display: inline-block;
}

.contact .sns .share {
  font-size: 12px;
  background-color: #00aeef;
  padding: 0 6px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.introduction {
  height: 550px;
  text-align: center;
  background-image: url(images/introbottom.jpg);
  background-position: center;
  background-size: cover;
}

.introduction .box-frame {
  width: 855px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 30px;
  position: relative;
}

.introduction .box-frame .box-txt {
  font-size: 28px;
  letter-spacing: 0.1rem;
}

.introduction .box-frame::before, .introduction .box-frame::after {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
}

.introduction .box-frame::before {
  border-left: solid 3px #ebb94d;
  border-top: solid 3px #ebb94d;
  top: 0;
  left: 0;
}

.introduction .box-frame::after {
  border-right: solid 3px #ebb94d;
  border-bottom: solid 3px #ebb94d;
  bottom: 0;
  right: 0;
}

.introduction .intro-txt {
  font-size: 20px;
  letter-spacing: 0.1rem;
}

.introduction .intro-txt p {
  margin-top: 35px;
}

.introduction .intro-txt p span {
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, #ebb94d));
  background: linear-gradient(transparent 70%, #ebb94d 70%);
}
/*# sourceMappingURL=style.css.map */