.header {
  width: 100%;
  position: fixed;
  z-index: 10;
  height: 75px;
  background-color: white;
  .title {
    width: 1170px;
    padding: 20px 0;
    margin: 0 auto;
    position: relative;
    .logo {
      display: inline-block;
      margin-top: -6px;
      img {
        width: 130px;
        vertical-align: bottom;
      }
    }
    .sub-txt {
      display: inline-block;
      position: absolute;
      bottom: 23px;
      p {
        font-size: 14px;
        margin-left: 5px;
        letter-spacing: 0.1rem;
      }
    }
    .header-contact {
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 17px;
      background-color: #dd7871;
      color: white;
      border-radius: 25px;
      padding: 10px 37px;
      &:hover {
        background-color: #d85047;
      }
    }
  }
}

// ---------------
// トップ画面
// ---------------
.top-container {
  padding-top: 75px;
  text-align: center;
  .bg-img {
    height: 500px;
    background-image: url("images/Isara-bg.jpg");
    background-size: cover;
    background-position:center ;
    .img-txt {
      padding-top: 93px;
      .txt1 {
        font-weight: bold;
        font-size: 27px;
        letter-spacing: 0.16rem;
        margin-bottom: 13px;
      }
    }
    .large-title {
      img {
        width: 318px;
      }
    }
    h3 {
      .txt2 {
        font-size: 20px;
        letter-spacing: 0.1rem;
        margin-top: 28px;
      }
    }
  }
}

// ------------
// コンタクト
// ------------
.contact {
  text-align: center;
  height: 700px;
  background-color: #ebb94d;
  padding: 20px 0;
  .contact-txt {
    color: white;
    font-size: 22px;
    letter-spacing: 0.1rem;
    margin-top: 10px;
  }
  .important {
    background: white;
    width: 460px;
    margin: 0 auto;
    color: red;
    font-weight: bold;
    margin-top: 12px;
    letter-spacing: 0.1rem;
    border-radius: 4px;
  }
  .contact-btn {
    width: 1030px;
    margin: 0 auto;
    cursor: pointer;
    background-color: #dd7871;
    color: white;
    border-radius: 50px;
    padding: 32px 90px;
    margin-top: 46px;
    p {
      font-size: 30px;
    }
    &:hover {
      background-color: #d85047;
    }
  }
  .season {
    font-size: 22px;
    margin-top: 70px;
    color: white;
    p {
      &:nth-child(2) {
        margin-top: 30px;
      }
      &:nth-child(3){
        margin-top: 30px;
      }
    }
  }
  .sns {
    display: inline-flex;
    list-style: none;
    margin-top: 26px;
    li {
      margin-left: 10px;
    }
    .twit,
    .good {
      font-size: 12px;
      color: white;
      i {
        background-color: #00aeef;
        padding: 4px;
        border-radius: 4px;
        cursor: pointer;
        &:first-child {
          &:hover {
            background-color: #058cbd;
          }
        }
      }
      p {
        display: inline-block;
      }
    }
    .share {
      font-size: 12px;
      background-color: #00aeef;
      padding: 0 6px;
      border-radius: 4px;
      color: white;
      cursor: pointer;
    }
  }
}

// ------------
// 前書き部分
// ------------
$bar-style: solid; 
$bar-size: 3px;
$bar-color: #ebb94d;

.introduction {
  height: 550px;
  text-align: center;
  background-image: url(images/introbottom.jpg);
  background-position: center;
  background-size: cover;
  .box-frame {
    width: 855px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 30px;
    position: relative;
    .box-txt {
      font-size: 28px;
      letter-spacing: 0.1rem;
    }
    &::before, &::after {
      content: "";
      width: 50px;
      height: 50px;
      position: absolute;
    }
    &::before {
      border-left: $bar-style $bar-size $bar-color;
	    border-top: $bar-style $bar-size $bar-color;
	    top: 0;
	    left: 0;
    }
    &::after {
      border-right: $bar-style $bar-size $bar-color;
	    border-bottom: $bar-style $bar-size $bar-color;
	    bottom: 0;
	    right: 0;
    }
  }
  .intro-txt {
    font-size: 20px;
    letter-spacing: 0.1rem;
    p {
      margin-top: 35px;
      span {
        font-weight: bold;
        background: linear-gradient(transparent 70%, #ebb94d 70%);
      }
    }
  }
}