.header {
  width: 100%;
  position: fixed;
  z-index: 10;
  height: 85px;
  .title {
    width: 1170px;
    padding: 20px 0;
    margin: 0 auto;
    position: relative;
    .logo {
      display: inline-block;
      img {
        width: 130px;
      }
    }
    .sub-txt {
      display: inline-block;
      position: absolute;
      bottom: 30px;
      p {
        font-size: 14px;
        margin-left: 8px;
      }
    }
    .header-contact {
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 23px;
      background-color: #dd7871;
      color: white;
      border-radius: 25px;
      padding: 10px 40px;
      &:hover {
        background-color: #d85047;
      }
    }
  }
}